<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>FfQpl4Rf8DRZb4u4TvjzYbYNwEw49tC396/+sGkf9I1tr2pwXtKK/l09jcBcD7dK/mUHyq/8xOu/4755m/dTCE1aT1mHdipXn90/yHgqeSOpsu2TaU+d9SERo7ITjZ+r+qCp1uNl0PejWqEPF/RMVvLgqiytFdX9FWvFkYT/17NDJDsFOjjgsZj4BPLFkl0Ot3CBGz3X0srk9t76REk/XXEm1jwrGQT3L9P85EJR0a/eahAB5ssHRySvRzxrP7TC55hy2nYKXO7nI0VTJPmfkujAQ1JSLyQEJPbcTiXwkEg91CspaYuUx1Tg3Lka7IySBPPmWeYTogZnrh0dJJmKPw==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>UELcOaWqWJzyk7LpA+cs0bbf6rNt0WV0ywUYPcnfdlesZwxS2dNhocMP4WKV2IMa</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>